<body>
div{
   max-width:680px;
   margin:0 auto
}

h1 {
   font-family: 'Satisfy', cursive
   color: #474747;
   text-align: center;
}

ul {
   list-style:none;
   margin:0;
   padding:0;
}

li{
   width: 48%;
   float: left;
   position: releative;
   margin: 1px;
}

img{
   display: block;
   width: 100%;
}

li:nth-child(1):hover img{
   filter:
}

li:nth-child(2):hover img{
   filter:
}

li:nth-child(3):hover img{
   filter: contrast(10%);
}
li:nth-child(4):hover img{
   -webkit-filter: grayscale(.75);
   filter: grayscale(.75);
}

li:nth-child(5):hover img{
   filter: saturate(300%);
}

li:nth-child(6):hover img{
   -webkid-filter: sepia(100%);
   filter: sepia(100%);
}

li:nth-child(7):hover img{
   -webkid-filter: hue-rotate(270deg;
   filter: hue-rotate(270deg);
}

li:nth-child(8):hover img{
   -webkid-filter: invert(100%);
   filter: invert(100%);
}
li:nth-child(9)hover img{
   -filter(50)
}
span
a href
